<form action='' method='post' enctype="multipart/form-data">
				
<p>Select sub categorie<select  name ='sub_categorie' >		
	<option value ='1' >Snacks</option>
	<option value ='2' >Breakfast and Brunch</option>
	<option value ='3' >Desserts</option>
	<option value ='4' >Dinner</option>
	<option value ='5' >Drinks</option>
	<option value ='6' >Breads</option>
	<option value ='7' >Cakes</option>
	<option value ='8' >Salad</option>
	<option value ='9' >Soup</option>
	<option value ='10' >Beef</option>
	<option value ='11' >Chicken</option>
	<option value ='12' >Pasta</option>
	<option value ='13' >Pork</option>
	<option value ='14' >BBQ and grilling</option>
	<option value ='15' >Quick and Easy</option>
	<option value ='16' >Vegetarian</option>
	<option value ='17' >Gluten free</option>
	<option value ='18' >Low calories</option>
	<option value ='19' >Healthy</option>
	<option value ='20' >Asian</option>
	<option value ='21' >Indian</option>
	<option value ='22' >Italian</option>
	<option value ='23' >Mexican</option>
	<option value ='24' >Mother's Day</option>
	<option value ='25' >Quarantine Cooking</option>
	
	
	</select>				
</p>				
<p>Add New Recipe name<input  type ='text' name ="recipe" /></p>
<p>Select Difficulty Level<select  name ='difficulty_level' >
	<option value ='1' >Easy</option>
	<option value ='2' >Medium</option>
	<option value ='3' >Hard</option>
	</select>
</p>
<p>Cooking directions<textarea  type ='textarea' name ="direction"></textarea></p>
<p>Enter the photo<input type ='file' name ="uploadfile" ></p>
<p><input type ='submit' value="Add Recipe" name ="recipe_submit_btn"></p>		
</form>