
<table class ="admintable" >

<form action="" method="post">
<tr>
	<th>Search</th>
	<th><input type="text" name="search_categorie" value="__SEARCH_CATEGORIE__" /></th>
	<th><input type="text" name="search_subcategorie" value="__SEARCH_SUBCATEGORIE__"/></th>
	<th><input type="text" name="search_recipe" value="__SEARCH_RECIPE__"/></th>
	<th><input type="text" name="search_difficulty" value="__SEARCH_DIFFICULTY__"/></th>
	<th><input type="text" name="search_date" value="__SEARCH_DATE__"/></th>
	<th><input  class="button3" type='submit' value='Search'/></th>
	<th><input  class="button3" type='reset' value='Reset' /></th>
	<th><a href='?action=admin'><img src="image/stop.png" alt="Stop searching" style="width:42px;height:42px;border:0;"></a></th>
</tr>
</form>


<tr>
	<th>SNo</th>
	<th>Categorie</th>
	<th>Sub-categorie</th>
	<th>Recipe</th>
	<th>Difficulty</th>
	<th>Date</th>
	<th>Foto</th>
	<th>Details</th>
	<th>Delete</th>
</tr>