<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Recipe Pack</title>
	<link type="text/css" rel="stylesheet" href="css/default.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	
</head>
<body>

<!------------top nav------------------->
 <header id= "topheader">
 <div class="wrapper">
<div id ="topnav">
<!-----------__#__TOPNAV__#__-------------->
<ul> 
	<li >__#__LOGIN__#__</li>
	<li >__#__LOGOUT__#__</li>
	<li><a  href="index.php?action=register"><img class="topheader_img" src="image/website.png" alt="" >Register</a></li>
	<li><a  href="index.php?action=contact"><img class="topheader_img" src="image/business.png" alt="" >Contact</a></li>	
</ul>
</div>
</div>
</header>	
<!------------nav------------------->
<div id ="nav">
<div class="wrapper">
<p>Recipe<img class="logo" src="image/food.png" alt="">Pack</P>
<ul> 
	<li><a  href="index.php?action=home"><img class="nav_img" src="image/interface.png" alt="" >Home</a></li>
	<!--------<li><a  href="index.php?action=find"><img class="nav_img" src="image/love.png" alt="" >Find</a></li>------>
	<li>__#__ADDRECIPE__#__</li>	
	<li>__#__ADMIN__#__</li>	
	<li>__#__FEEDBACK__#__</li>
	<li>__#__USERPROFILE__#__</li>
</ul>
</div>
</div>

<!-- content -->
<div id="main">
<article>
<div class="wrapper">
__#__CONTENT__#__
</div>	
</article>
</div>	

	
<!-- footer -->
<div id="foot">
<div class="wrapper">
<ul> 
	<li><a href="index.php?action=contact">Contact</a></li>
	<li><a href="index.php?action=impressum">Impressum</a></li>
	<li><a href="index.php?action=agb">AGB</a></li>
	<li><a href="index.php?action=download">Download</a></li>
</ul>
</div>
</div>
</body>
</html>