<ul class ="drop-down-menu">
            <li><a href="#">Meal Type</a>
				<ul>
					<li><a href="#">Snacks</a></li>
					<li><a href="#">Breakfast and Brunch</a></li>
					<li><a href="#">Desserts</a></li>
					<li><a href="#">Dinner</a></li>
					<li><a href="#">Drinks</a></li>
				</ul>
			</li>
            <li><a href="#">Dish Type</a></li>
				<ul>
					<li><a href="#">Breads</a></li>
					<li><a href="#">Cakes</a></li>
					<li><a href="#">Salad</a></li>
					<li><a href="#">Soup</a></li>
				</ul>
            <li><a href="#">Ingredients</a></li>
				<ul>
					<li><a href="#">Beef</a></li>
					<li><a href="#">Chicken</a></li>
					<li><a href="#">Pasta</a></li>
					<li><a href="#">Pork</a></li>
				</ul>
            <li><a href="#">Cooking Style</a></li>
				<ul>
					<li><a href="#">BBQ and Grilling</a></li>
					<li><a href="#">Quick and Easy</a></li>
					<li><a href="#">Vegetarian</a></li>
				</ul>
            <li><a href="#">Diet and Health</a></li>
				<ul>
					<li><a href="#">Gluten Free</a></li>
					<li><a href="#">Low calories</a></li>
					<li><a href="#">Healthy</a></li>
				</ul>
            <li><a href="#">World Cuisine</a></li>
				<ul>
					<li><a href="#">Asian</a></li>
					<li><a href="#">Indian</a></li>
					<li><a href="#">Italian</a></li>
					<li><a href="#">Mexican</a></li>
				</ul>
            <li><a href="#">Seasonal</a></li>
				<ul>
					<li><a href="#">Mother's day</a></li>
				</ul>
            <li><a href="#">Special</a></li>
				<ul>
					<li><a href="#">Quarantine Cooking</a></li>
				</ul>
        </ul>--->
		
	