<div id="feedback_form_div">
<form  id="feedback_form" action='' method='post'>

<p class="feedbackP">Thank you for taking the time to answer these questions. The following questions are 
about to know how successful is Recipe Pack</p>

<h3>How often do you visit our website?</h3>
<select class ="feedbackSelectid" name='visit_choice'>
<option value='1'>Daily</option>
<option value='2'>Once a Week</option>
<option value='3'>Once a Month</option>
<option value='3'>Once a Year</option>
<option value='3'>Never</option>
</select><br />
<br />
<h3>Overall,how satisfied are you with our website?</h3>
<select class ="feedbackSelectid" name='satisfied_choice'>
<option value='1'>Very Satisfied</option>
<option value='2'>Satisfied</option>
<option value='3'>Neutral</option>
<option value='3'>Unsatisfied</option>
<option value='3'>Very Unsatisfied</option>
</select><br />

<p class="feedbackP">We would  also love to hear your thoughts, concerns or problems with anything so we can improve!</p>
<br />
<h3>Feedback Type</h3>
<p>
<input type="radio" name="feedbackType" class="feedback_radioBtn" value ="comments" checked = "checked">Comments
<input type="radio" name="feedbackType" class="feedback_radioBtn" value ="bugReports">Bug Reports
<input type="radio" name="feedbackType" class="feedback_radioBtn" value ="questions">Questions
</p>

<h3>Describe Feedback:*</h3><br /> <textarea name='feedback'></textarea><br />


<br /><input type='submit' name='feedback_send' value='SUBMIT FEEDBACK '/>

</form>
</div>