

<div id="full_recipe_container">

<h1>__RECIPE__NAME__</h1>
__BACK_LINK__
<div id="description_div"><p id="desc_para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							Ut accumsan auctor turpis vitae malesuada. Morbi at sollicitudin arcu, sit amet mollis est.
							 Aliquam erat volutpat. Nunc vel semper dui. Maecenas scelerisque risus tortor, sit amet fringilla ligula lobortis quis. 
							 Praesent scelerisque ullamcorper dui. Phasellus ac porttitor dolor. 
							Integer eget dui fringilla, ultricies dolor at, vehicula nunc. Vestibulum sagittis ex tellus, non tincidunt enim iaculis id.
						</p></div>
						
						
<div id="photo_div">__RECIPE__PHOTO__
		<div id="timelist">
			<ul id="listdesign">
				<li><bold>Prep</bold>: 15mins</li>
				<li>Cook: 1hr 50 mins</li>
				<li>Total: 15mins</li>
				<li>Additional: 30mins</li>
				<li>Servings: 5</li>
				<li>Yield: 1 casserole</li>
		</div>
</div>
<hr/>
<div id="ingredient_table_div">
<h3>Ingredients</h3>
	
	<table id ="recipe_ingredient_table">
	