<div id="box">
<h1>Welcome to the Recipe Pack</h1>
<p id="slogan">Every dish deserves as much love as your main course, <br>
so take a look at our lovely suggestions and make every mouthful magical.
</p>
</div>


<form class='example' action='?action=home'  method ='post' style='margin:auto;max-width:700px'>
	  <p>__SEARCH_WORD_ERROR__</p>
	  <input type="text"  placeholder="Search here..." name="search" value="__SEARCH_WORD__"/>
	  <button name="filter" type="submit"><i class="fa fa-search"></i></button>
</form>

<table id="photo-gallery-table">
