<form action='?action=admin' method='post' >
					Ingredient Name:<br />
					<input type='text' name='ingredientname' value='__INGREDIENT_NAME__'><br />
					Amount:<br />
					<input type='text' name='amount' value='__AMOUNT__'><br />
					Unit:<br />
					<input type='text' name='unit' value='__UNIT__'><br />
					<input type='hidden' name='ingredientid' value='__INGREDIENTID__' />
					<input type='hidden' name='recipeid' value='__RECIPEID__' />
					<input type='submit' name='editchanges' value='Edit' />
					</form>