<h1>Personal info</h1>
<div>
	<div id ="user-photo-div"><img id ="user_photo" src="image/user.png" alt="" ></div>
	<div id="change_user_photo"><img img id ="edit_pen_photo" src="image/flat.png" alt="" ></div>

	<div id="user-info-div">
		
		<div id="form-size">
		<h3>Personal Informations</h3>
		<hr/>
		<form action='' method='post'>
		 Name:<br />
		<input type="text" name="username" ><br />

		Email:<br />
		<input type="text" name="email" ><br />
		Password:<br />
		<input type="password" name="password" ><br />
		<a  id ="change_password"href ="">Change password</a>
		<input type="submit" name="submit" value ="submit"><br />
		
		</div>
		
	</div>

</div>
